<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<header th:replace="common/header::headerFragment"></header>
  <body>

  <div th:replace="common/body-footer :: menu-top"></div>
  <div th:replace="common/body-footer :: site-branding"></div>

      <div class="mainmenu-area">
          <div class="container">
              <div class="row">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                  </div>
                  <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                          <li><a href="/index">Home</a></li>
                          <li><a href="/shop">Shop page</a></li>
                          <li class="active"><a href="/single-product">Single product</a></li>
                          <li><a href="/cart">Cart</a></li>
                          <li><a href="/checkout">Checkout</a></li>
                          <li><a href="/admin/myCommand">Command</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div> <!-- End mainmenu area -->
    
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div th:replace="common/common-data :: left-product-show(${highNoteProducts},${latestProducts})"></div>
                
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="" th:text="${catNameMap.get('sname')}"></a>
                            <a href="" th:text="${catNameMap.get('pname')}"></a>
                            <a href="" th:text="${catNameMap.get('pdname')}"></a>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img th:src="${productInfo.imgUrl}" alt="">
                                    </div>
                                </div>
                                <div class="product-reviews">
                                    <table class="table">
                                        <caption>
                                            <span style="color: red" th:text="${commentsNum}"></span>
                                            <span>&nbsp;&nbsp;AVIS CLIENTS RECENT</span>
                                            NOTE TOTAL :&nbsp;&nbsp
                                            <span style="color: red;font-weight: bold" th:text="${productInfo.rate}"></span>
                                        </caption>
                                        <tbody>
                                            <tr th:each="comment:${productComments}">
                                                <td>
                                                    <h4 style="font-weight: bold" th:text="${comment.time}"></h4>
                                                    <h5 style="opacity: 0.9" th:text="${comment.authorName}"></h5>
                                                    <div style="opacity: 0.6" th:text="${comment.purpose}"></div>
                                                </td>
                                                <td>
                                                    <div style="opacity: 0.8">
                                                        NOTE : <span style="color: red;" th:text="${comment.rate}"></span>
                                                    </div>
                                                    <p th:text="${comment.content}"></p>

                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name" th:text="${productInfo.name}"></h2>
                                    <div class="product-inner-price">
                                        <ins th:text="${productInfo.price}"></ins> <del th:if="${productInfo.vdef1}" th:text="${productInfo.vdef1}"></del>
                                    </div>    
                                    
                                    <form action="" class="cart" id="single-products-cart">
                                        <div class="quantity">
                                            <input type="number" id="single-product-cart-quantity" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                        </div>
                                        <button class="add_to_cart_button" type="submit" th:disabled="!${session.login_user}">Add to cart</button>
                                    </form>

                                    <div class="product-inner-category">
                                        <p>Category : <a href="" th:text="${catNameMap.get('sname')}"></a> </p>
                                    </div>
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>  
                                                <p>Reliable and high quality product</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                    <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                    <div class="rating-chooser">
                                                        <p>Your rating</p>

                                                        <div class="rating-wrap-post">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                    <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                    <p><input type="submit" value="Submit"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Related Products</h2>
                            <div class="related-products-carousel">
                                <div th:each="product : ${relatedProducts}" class="single-product">
                                    <div class="product-f-image">
                                        <img th:src="${product.imgUrl}" alt="">
                                        <div class="product-hover">
                                            <a th:if="${session.login_user}" onclick="addOneToCart(this)" th:attr="data-pid=${productInfo.id}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a th:href="@{/product/{id}(id=${product.id})}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>

                                    <h2><a href="" th:text="${product.name}"></a></h2>

                                    <div class="product-carousel-price">
                                        <ins th:text="${product.price}"></ins> <del th:if="${product.vdef1}" th:text="${product.vdef1}"></del>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>


  <div th:replace="common/body-footer :: footer-top"></div>
  <div th:replace="common/body-footer :: footer-bottom"></div>
   
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <!-- jQuery sticky menu -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    
    <!-- jQuery easing -->
    <script src="/js/jquery.easing.1.3.min.js"></script>
    
    <!-- Main Script -->
    <script src="/js/main.js"></script>
  <script>
      function addOneToCart(obj) {
          let productId = $(obj).data('pid');
          $.ajax({
              url: "/cart/admin/addProductCart/"+productId+"/1",// request url
              data:{},// request parameters -- none
              type:"post",
              dataType:"json",// The data type returned by the server is the json object
              success: function(resp) {
                  alert(resp.msg);
              },
              timeout: 50000,// Timeout time, the function after error will be called after the timeout
              error: function(xhr, textStatus, errorThrown) {
                  console.log(xhr.status);
                  if(xhr.status===401){
                      alert("401 : Not authorized! Please login!");
                      setTimeout(function () {
                          window.location.href = '/login';
                      }, 500);
                      return;
                  }
                  // 404 Invalid request address
                  if(XMLHttpRequest.status=='404'){
                      alert("404:request address"+url+"invalid.");
                      return;
                  }

                  let msg="xhr.readyState="+xhr.readyState+"\n";
                  msg+="xhr.status="+xhr.status+"\n";
                  msg+="textStatus="+textStatus+"\n";
                  msg+="errorThrown="+errorThrown+"\n";
                  alert(msg);
              }

          });
      }
  </script>
  <script th:inline="javascript">
      $(function(){
          $("#single-products-cart").on('submit',function(e){
              //阻止表单的默认提交事件
              e.preventDefault()
              //serialize这个方法能获取到所有input 的值但是必须设置name 的属性
              const productId=[[${productInfo}]].id;
              const quantity = document.getElementById("single-product-cart-quantity").value
              $.ajax({
                  url: "/cart/admin/addProductCart/"+productId+"/"+quantity,// request url
                  data:{},// request parameters -- none
                  type:"post",
                  dataType:"json",// The data type returned by the server is the json object
                  success: function(resp) {
                      alert(resp.msg);
                  },
                  timeout: 50000,// Timeout time, the function after error will be called after the timeout
                  error: function(xhr, textStatus, errorThrown) {
                      console.log(xhr.status);
                      if(xhr.status===401){
                          alert("401 : Not authorized! Please login!");
                          setTimeout(function () {
                              window.location.href = '/login';
                          }, 500);
                          return;
                      }
                      // 404 Invalid request address
                      if(XMLHttpRequest.status=='404'){
                          alert("404:request address"+url+"invalid.");
                          return;
                      }

                      let msg="xhr.readyState="+xhr.readyState+"\n";
                      msg+="xhr.status="+xhr.status+"\n";
                      msg+="textStatus="+textStatus+"\n";
                      msg+="errorThrown="+errorThrown+"\n";
                      alert(msg);
                  }

              });

          })
      })
  </script>
  </body>
</html>